body {
  overflow-x: hidden;
  margin-bottom: 0 auto !important;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}