<div class="vertical-card">
    <h4>Hot Sale</h4>
    <div class="product d-flex justify-content-center">
        <img src="../../../assets/img/headphone2.png">
        <div class="info">
            <h6>Fatex Product Sample</h6>
            <p>$110.00</p>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
        </div>
    </div>
</div>
