@import '/src/styles.scss';

.vertical-card {
    h4 {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: $black;
        padding-bottom: 2.5rem;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0rem;
            top: 42px;
            width: 45px;
            height: 0px;
            border-bottom: 1px solid $silver;
        }
    }
    .product {
        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            object-position: center;
            border: 1px solid $lightSilver;
            padding: 5px;
        }
        .info {
            h6 {
                color: $black;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 600;
            }
            p {

            }
            .rating {
                i {
                    font-size: 15px;
                    color: $green;
                }
            }
        }
    }
}