<section>
    <div class="category-card">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-4 pl-0 pr-0">
                <div class="c-card">
                    <h4>Fatex Product Headphone</h4>
                    <p><i class="fa-solid fa-check"></i>Modern Edition</p>
                    <p><i class="fa-solid fa-check"></i>Professional Edition</p>
                    <p><i class="fa-solid fa-check"></i>Sport Edition</p>
                    <p><i class="fa-solid fa-check"></i>Classic Edition</p>
                    <p><i class="fa-solid fa-check"></i>Progressive Edition</p>
                    <p><i class="fa-solid fa-check"></i>Color Edition</p>
                    <div class="mt-3">
                        <a class="c-btn btn-green">View all categories</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>