@import '/src/styles.scss';

.product-card {
    .p-card {
        padding: 30px;
        border: 1px solid #ccc;
        text-align: center;
        img {
            height: 220px;
            width: 100%;
            object-fit: contain;
            object-position: center;
        }
        h4 {
            font-size: 17px;
            text-transform: uppercase;
            font-weight: 700;
            color: $black;
            padding-top: 35px;
        }
        .rating {
            i {
                font-size: 15px;
                padding: 16px 0;
                color: $green;
            }
        }
        p {
            font-size: 15px;
            color: $silver;
            &.price {
                font-size: 17px;
                font-weight: 500;
                padding-top: 15px;
            }
        }
    }
}